<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="../../css/style.css">
		<link rel="stylesheet" href="../../css/counsellor.css">
  </head>

  <body>
    <header class="page-header">
      <i class="header-left icon-func bbc-icon bbc-icon-back mui-action-back"></i>
      <div class="header-title">我的咨询</div>
    </header>
    <div class="mui-content advice-main">
		<div class="advice-list-tab-container">
			<ul class="advice-list-tab clearfix">
				<li class="advice-list-tab-item on">已下单<br/>未预约</li>
				<li class="advice-list-tab-item ">已预约</li>
				<li class="advice-list-tab-item ">已咨询</li>
				<li class="advice-list-tab-item">已取消</li>
			</ul>
		</div>
		<div class="advice-list">
			<ul class="mui-table-view">
				<li class="mui-table-view-cell mui-media no-bottom-bd">
					<a href="javascript:;" class="cell-flex">
						<div class="mui-media-body flex-g2">
							<h3 class='mui-ellipsis'>涂预约《大观精油芳香体验沙龙》</h3>
							<p class="current-progress-content">当前进度: 1/1 <span><i>￥</i>30.00</span></p>
							<p class='mui-ellipsis time-txt'>2018-10-25</p>
						</div>
						<div class="mui-media-object">
							<span class="bg">与他沟通</span>
						</div>
					</a>
				</li>
				<li class="mui-table-view-cell mui-media no-bottom-bd">
					<a href="javascript:;" class="cell-flex">
						<div class="mui-media-body flex-g2">
							<h3 class='mui-ellipsis'>涂预约《大观精油芳香体验沙龙》</h3>
							<p class="current-progress-content">当前进度: 1/1 <span><i>￥</i>30.00</span></p>
							<p class='mui-ellipsis time-txt'>2018-10-25</p>
						</div>
						<div class="mui-media-object">
							<span class="bg">与他沟通</span>
						</div>
					</a>
				</li>
			</ul>
		</div>
		<div class="appointment-list">
			<ul class="mui-table-view">
				<li class="mui-table-view-cell mui-media no-bottom-bd">
					<a href="javascript:;" class="cell-flex">
						<div class="mui-media-body flex-g2">
							<h3 class='mui-ellipsis'>涂预约《大观精油芳香体验沙龙》</h3>
							<p class="current-progress-content">当前进度: 1/1 <span><i>￥</i>30.00</span></p>
							<p class='mui-ellipsis time-txt'>2018-10-25</p>
						</div>
						<div class="mui-media-object">
							<span class="bg">与他沟通</span>
							<span class="bd">取消咨询</span>
						</div>
					</a>
				</li>
				<li class="mui-table-view-cell mui-media no-bottom-bd">
					<a href="javascript:;" class="cell-flex">
						<div class="mui-media-body flex-g2">
							<h3 class='mui-ellipsis'>涂预约《大观精油芳香体验沙龙》</h3>
							<p class="current-progress-content">当前进度: 1/1 <span><i>￥</i>30.00</span></p>
							<p class='mui-ellipsis time-txt'>2018-10-25</p>
						</div>
						<div class="mui-media-object flex-g1">
							<span class="mui-ellipsis address-txt">上海</span>
						</div>
						<div class="mui-media-object">
							<span class="bg">与他沟通</span>
							<span class="bd">取消咨询</span>
						</div>
					</a>
				</li>
			</ul>
		</div>
		<div class="adviced-list">
			<ul class="mui-table-view">
				<li class="mui-table-view-cell mui-media no-bottom-bd">
					<a href="javascript:;" class="cell-flex">
						<div class="mui-media-body flex-g2">
							<h3 class='mui-ellipsis'>涂预约《大观精油芳香体验沙龙》</h3>
							<p class="current-progress-content">当前进度: 1/1 <span><i>￥</i>30.00</span></p>
							<p class='mui-ellipsis time-txt'>2018-10-25</p>
						</div>
						<div class="mui-media-object">
							<span class="bg">填写案例</span>
						</div>
					</a>
				</li>
				<li class="mui-table-view-cell mui-media no-bottom-bd">
					<a href="javascript:;" class="cell-flex">
						<div class="mui-media-body flex-g2">
							<h3 class='mui-ellipsis'>涂预约《大观精油芳香体验沙龙》</h3>
							<p class="current-progress-content">当前进度: 1/1 <span><i>￥</i>30.00</span></p>
							<p class='mui-ellipsis time-txt'>2018-10-25</p>
						</div>
						<div class="mui-media-object">
							<span class="bd">查看修改案例</span>
						</div>
					</a>
				</li>
			</ul>
		</div>
		<div class="canceled-list">
			<ul class="mui-table-view">
				<li class="mui-table-view-cell mui-media no-bottom-bd">
					<a href="javascript:;" class="cell-flex">
						<div class="mui-media-body flex-g2">
							<h3 class='mui-ellipsis'>涂预约《大观精油芳香体验沙龙》</h3>
							<p class="current-progress-content">当前进度: 1/1 <span><i>￥</i>30.00</span></p>
							<p class='mui-ellipsis time-txt'>2018-10-25</p>
						</div>
						<div class="mui-media-object">
							<span>已取消</span>
						</div>
					</a>
				</li>
				<li class="mui-table-view-cell mui-media no-bottom-bd">
					<a href="javascript:;" class="cell-flex">
						<div class="mui-media-body flex-g2">
							<h3 class='mui-ellipsis'>涂预约《大观精油芳香体验沙龙》</h3>
							<p class="current-progress-content">当前进度: 1/1 <span><i>￥</i>30.00</span></p>
							<p class='mui-ellipsis time-txt'>2018-10-25</p>
						</div>
						<div class="mui-media-object">
							<span>已取消</span>
						</div>
					</a>
				</li>
			</ul>
		</div>
		<div class="tip-txt">上拉显示更多</div>
	</div>
    <script src="../../js/zepto.js"></script>
    <script src="../../js/mui.min.js"></script>
    <script src="../../js/template.min.js"></script>
    <script src="../../config.js"></script>
    <script src="../../js/app.js"></script>
    <script type="text/javascript" charset="utf-8">
		$(function(){
			$('.advice-list-tab-item').on('click',function(){
				$('.advice-list-tab-item').removeClass('on');
				$(this).addClass('on');
				var _index = $(this).index();
				if(_index==0){
					$('.advice-list').show();
					$('.appointment-list,.adviced-list,.canceled-list').hide();
				}else if(_index==1){
					$('.appointment-list').show();
					$('.advice-list,.adviced-list,.canceled-list').hide();
				}else if(_index==2){
					$('.adviced-list').show();
					$('.advice-list,.appointment-list,.canceled-list').hide();
				}if(_index==3){
					$('.canceled-list').show();
					$('.advice-list,.appointment-list,.adviced-list').hide();
				}
			})
		})
//       mui.init({
//         swipeBack: true, //启用右滑关闭功能
//         gestureConfig: {
//           doubletap: true
//         },
//         subpages: [{
//           url: '_www/view/counsellor/sub_list.html',
//           id: '_www/view/counsellor/sub_list.html',
//           styles: {
//             top: '45px',
//             bottom: '0',
//           }
//         }]
//       });
// 
//       var contentWebview = null;
//       document.querySelector('header').addEventListener('doubletap', function() {
//         if(contentWebview == null) {
//           contentWebview = plus.webview.currentWebview().children()[0];
//         }
//         contentWebview.evalJS("mui('#pullrefresh').pullRefresh().scrollTo(0,0,100)");
//       });
    </script>
  </body>
</html>
