<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/widgets.css" />
    <style>
    		.main{
    			margin-right: 0;
    		}
    		.mui-table-view .mui-media-object{
		    max-width: 72px; 
    			height: 72px;
    		}
    		.mui-media-text {
    			color: #646464;
    			font-size: 15px;
    		}
    		.mui-media-author {
    			font-size: 13px;
    			margin-top: 5px;
    		} 
    		.mui-icon .mui-badge{
			    height: 10px;
			    margin-left: -8px;
    		}
				.mui-btn.service {
					display: inline-block;
					line-height: normal;
					text-align: center;
					top: 0;
				}
		.mui-btn-link {
    top: 0;
    padding: 0;
    font-size: 16px;
    line-height: 44px;
    color: #fff;
    border: 0;
}.mui-btn {
    position: relative;
    z-index: 20;
    padding: 6px 12px 7px;
    margin-top: 0;
    font-weight: 400;
}
.mui-btn.service img {
    width: 20px;
    height: auto;
}
.mui-btn.service .icon-func {
    font-size: 13px;
    color: #50C4D5;
    display: block;
    text-align: center;
    line-height: 0.6rem;
    width: auto;
    height: auto;
}
    </style>
  </head>

  <body>
    <header class="home-header">
      <div class="header-logo"><img src="../img/72x72.png"></div>
      <div class="main">
        <form onsubmit="return false;">
          <div class="mui-input-row header-search-form"><input type="search" onfocus="toSearch(this,'_www/view/artical/list.html')" class="header-search mui-input-clear" placeholder="寻找感兴趣的文章"></div>
        </form>
      </div>
      <a class="mui-right mui-action-back mui-btn  mui-btn-link mui-btn-nav mui-pull-right service">
				<img src="../img/tel_blue.png">
				<i class="search-hide icon-func bbc-icon callmm">客服</i>
			</a>
      <a href="#" class="txt-func search-cancel" style="display:none;">取消</a>
    </header>
    <div class="container">
      <div class="mui-scroll-wrapper bbc-pullrefresh-top">
        <div class="mui-scroll">
          <div class="mui-content content-bottom-padded-nav">
          	<!--轮播 start-->
          	<!-- <div id="slider" class="mui-slider">
		        <div class="mui-slider-group mui-slider-loop widgets-slider">

		          <div class="mui-slider-item mui-slider-item-duplicate">
		            <a class="action-webview" data-webview="" data-webparam=''>
		              <img src="../img/widgets_slider_01.jpg">
		            </a>
		          </div>

		          <div class="mui-slider-item">
		            <a class="action-webview" data-webview="" data-webparam=''>
		              <img src="../img/widgets_slider_01.jpg">
		            </a>
		          </div>
		         <div class="mui-slider-item">
		            <a class="action-webview" data-webview="" data-webparam=''>
		              <img src="../img/widgets_slider_02.jpg">
		            </a>
		          </div>


		          <div class="mui-slider-item mui-slider-item-duplicate">
		            <a class="action-webview" data-webview="" data-webparam=''>
		              <img src="../img/widgets_slider_01.jpg">
		            </a>
		          </div>
		        </div>
		        <div class="mui-slider-indicator">
		          <div class="mui-indicator mui-active "></div>
		          <div class="mui-indicator "></div>
		        </div>
		      </div> -->
		      <!--轮播 end-->
		      
		      <!--文章 start-->
		      <!-- <section class="widgets-category-nav section-white">
		        <div class="section-title">
		          <div class="title-txt">好文推荐</div>
		          <div class="more-link action-webview" data-webview="_www/view/category/category.html"><i class="bbc-icon bbc-icon-forward"></i></div>
		        </div>
		        <div class="mui-table-view">
		          <ul class="mui-table-view mui-table-view-chevron">
					<li class="mui-table-view-cell mui-media">
						<a class="mui-navigate-right">
							<img class="mui-media-object mui-pull-left" src="../img/widgets_39.gif">
							<div class="mui-media-body">
								CBD
								<p class='mui-ellipsis mui-media-text'>烤炉模式的城，到黄昏，如同打翻的调色盘一般.</p>
								<p class="mui-ellipsis mui-media-text mui-media-author">作者：老王</p>
							</div>
						</a>
					</li>
					<li class="mui-table-view-cell mui-media">
						<a class='mui-navigate-right' href="javascript:;">
							<img class="mui-media-object mui-pull-left" src="../img/widgets_49.gif">
							<div class="mui-media-body">
								远眺
								<p class='mui-ellipsis mui-media-text'>静静的看这个世界，最后终于疯了</p>
								<p class='mui-ellipsis mui-media-text mui-media-author'>作者：老张</p>
							</div>
						</a>
					</li>
					<li class="mui-table-view-cell mui-media">
						<a class='mui-navigate-right' href="javascript:;">
							<img class="mui-media-object mui-pull-left" src="../img/widgets_49.gif">
							<div class="mui-media-body">
								远眺
								<p class='mui-ellipsis mui-media-text'>静静的看这个世界，最后终于疯了</p>
								<p class='mui-ellipsis mui-media-text mui-media-author'>作者：老张</p>
							</div>
						</a>
					</li>
					<li class="mui-table-view-cell mui-media">
						<a class='mui-navigate-right' href="javascript:;">
							<img class="mui-media-object mui-pull-left" src="../img/widgets_49.gif">
							<div class="mui-media-body">
								远眺
								<p class='mui-ellipsis mui-media-text'>静静的看这个世界，最后终于疯了</p>
								<p class='mui-ellipsis mui-media-text mui-media-author'>作者：老张</p>
							</div>
						</a>
					</li>
				  </ul>		
		        </div>
		      </section> -->
		      <!--文章 end-->
		      
          </div>
        </div>
      </div>
    </div>
    <nav class="mui-bar bbc-bar-tab">
      <a class="bbc-tab-item bbc-active" >
        <span class="mui-icon bbc-icon bbc-icon-home"></span>
        <span class="mui-tab-label">首页</span>
      </a>
      <a class="bbc-tab-item" data-webview="_www/view/counsellor/index.html">
        <span class="mui-icon bbc-icon bbc-icon-package"><i class="mui-badge mui-badge-danger mui-hidden"  id="advice-count"></i></span>
        <span class="mui-tab-label">工作台</span>
      </a>
      <a class="bbc-tab-item" data-webview="_www/view/clac/index.html">
        <span class="mui-icon bbc-icon bbc-icon-moments"></span>
        <span class="mui-tab-label">课程/活动</span>
      </a>
      <a class="bbc-tab-item" data-webview="_www/view/msg/index.html">
        <span class="mui-icon bbc-icon bbc-icon-message"><i class="mui-badge mui-badge-danger mui-hidden" style="display: none;" id="msg-count"></i></span>
        <span class="mui-tab-label">消息</span>
      </a>
      <a class="bbc-tab-item "  data-webview="_www/view/member/member.html">
        <span class="mui-icon bbc-icon bbc-icon-user-empty"></span>
        <span class="mui-tab-label">我的</span>
      </a>
    </nav>
    
    <script src="../js/zepto.js"></script>
    <script src="../js/mui.min.js"></script>
    <script src="../js/template.min.js"></script>
    <script src="../config.js"></script>
    <script src="../js/app.js"></script>
    <script src="../js/mipush.js"></script>
    
	<script type="text/html" id="widget_slider">
        <div id="slider" class="mui-slider">
            <div class="mui-slider-group mui-slider-loop widgets-slider">
                <!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
                <div class="mui-slider-item mui-slider-item-duplicate">
                    <a class="action-webview" data-webview="<%= pic[pic.length-1].webview %>" data-webparam='<%= $json_string(pic[pic.length-1].webparam) %>'>
              <img src="<%= $add_server(pic[pic.length-1].cover) %>">
            </a>
                </div>
                <% for(var i in pic) { %>
                    <div class="mui-slider-item">
                        <a class="action-webview" data-webview="<%= pic[i].webview %>" data-webparam='<%= $json_string(pic[i].webparam) %>'>
              <img src="<%= $add_server(pic[i].cover) %>">
            </a>
                    </div>
                    <% } %>
                        <!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
                        <div class="mui-slider-item mui-slider-item-duplicate">
                            <a class="action-webview" data-webview="<%= pic[0].webview %>" data-webparam='<%= $json_string(pic[0].webparam) %>'>
              <img src="<%= $add_server(pic[0].cover) %>">
            </a>
                        </div>
            </div>
            <div class="mui-slider-indicator">
                <% for(var i=0; i<pic.length; i++) { %>
                    <div class="mui-indicator <%= (i==0) ? 'mui-active' : ' ' %> "></div>
                    <% } %>
            </div>
        </div>
    </script>
    
    <script type="text/html" id="widget_article">
        <section>   
            <!--文章 start-->
		      <section class="widgets-category-nav section-white">
		        <div class="section-title">
		          <div class="title-txt">好文推荐</div>
		          <div class="more-link action-webview" data-webview="_www/view/artical/list.html"><i class="bbc-icon bbc-icon-forward"></i></div>
		        </div>
		        <div class="mui-table-view">
		          <ul class="mui-table-view mui-table-view-chevron">
		          	<% for(var i=0; i<list.length; i++) { %>
					<li class="mui-table-view-cell mui-media action-webview" data-webview="_www/view/artical/detail.html" data-webparam = '{"article_id":<%= list[i].id %>}'>
						<a class="mui-navigate-right">
							<img class="mui-media-object mui-pull-left" src="<%= $add_server(list[i].cover) %>">
							<div class="mui-media-body">
								<%= list[i].title %>
								<p class='mui-ellipsis mui-media-text'><%= list[i].description %></p>
								<p class="mui-ellipsis mui-media-text mui-media-author">作者：<%= list[i].author %></p>
							</div>
						</a>
					</li>
					 <% } %>
				  </ul>		
		        </div>
		      </section>
		      <!--文章 end-->
        </section>  
    </script>
    

    <script type="text/javascript">
      mui.init({
        swipeBack: true //启用右滑关闭功能
      });
	  //获取数据 
	  mui.plusReady(function() {
	  	//lunbo
	  	var param = {
            'method': config.apimethod.lunbo,
            'source':config.source,
            'isshop':0
       }
        $.dataRequest(param, function(rs) {
        		var widgets = template('widget_slider', rs);
            $('.mui-content').append(widgets);
            var gallery = mui("#slider");
	        gallery.slider({
	          interval: 5000 //自动轮播周期，若为0则不自动播放，默认为0；
	        });
	        //article
	        var aparam = {
	            'method': config.apimethod.article,
	            'source':config.source
	        }
	        $.dataRequest(aparam, function(rs) {
	        		var widgets = template('widget_article', rs);
	            $('.mui-content').append(widgets);
	            	 //
	             mui('.mui-scroll-wrapper').scroll({
		          indicators: false
		        });
	        })
	        
        })
        
       
	  	
	  })
	  
	  
        
      $('.bbc-tab-item').on('tap', function() {
        var webview = $(this).data('webview');
        if(webview) {
          mui.openWindow({
            url: webview,
            id: webview,
            createNew: false, //是否重复创建同样id的webview，默认为false:不重复创建，直接显示
            show: {
              autoShow: true, //页面loaded事件发生后自动显示，默认为true
              aniShow: 'none'
            },
            extras:{
              refresh: true
            },
            waiting: {
              autoShow: true //自动显示等待框，默认为true
            }
          });
          var openw = plus.webview.getWebviewById(webview);
          if(openw) {
            mui.fire(openw,'refresh'); 
          }
        }
      });

      mui.plusReady(function() {
        // Android处理返回键
        plus.key.addEventListener('backbutton', function() {
          plus.runtime.quit();
        }, false);
      });
    </script>
  </body>

</html>
